*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    
    color: white;
    background-color: #0e0d13;
}

.wrapper{    
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
h3{
    color: rgb(187, 187, 187);
}
.result{
    width: 40vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: #24232b;
}
.copy{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #a4ffaf;
    font-size: 2.2vh;
}
.character{
    width: 40vh;
    height: 38vh;
    background-color: #24232b;
    margin-top: 3%;
}
.character_length{
    color: #a4ffaf;
}
.generate_btn{
    background-color: #a4ffaf;
    color: #0e0d13;
    width: 35vh;
    height: 6vh;
    margin: 0 auto;
    display: block;
    font-size: 2.3vh;
    margin-top: 4vh;
    cursor: pointer;
}
.checker{
    background-color: #24232b;
}
.character_label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: transparent;
    margin-top: 2vh;
}
.password_result{
    background-color: transparent;
}
.range{
    width: 35vh;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 2vh;
    cursor: pointer;
}
.check{
    margin-top: 1.6vh;
    margin-left: 2vh;
}
.checkBox{
    margin-top: 1.6vh;
    margin-left: 2vh;
    margin-right: 2%;
}
@media screen and (max-height:842px){
    .password_result{
        font-size: 18px;
    }
}
@media screen and (max-height:692px){
    .character{
        height: 40vh;
    }
}
@media screen and (max-height:640px){
    .check{
        font-size: 14px;
    }
}
@media screen and (max-height:577px){
    .password_result{
        font-size: 15px;
    }
}